.fast-orders-slider {
    display: inline-block;
    max-width: 1300px;/* Optional limit */
    padding: 0 1rem;
    margin-left: 20px;
    overflow: visible !important;
}

.fast-orders-slider .slick-slide > div {
    display: flex;
    justify-content: center;
    min-width: 200px;
}

.fast-orders-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 95%;
}