.menuDiv {
    border-radius: 10px;
    border: 1px solid #dee2e6;
    background-color: white;
    width: 60%;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menuDiv h1 {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    z-index: 10;
}

.cartDiv {
    border-radius: 10px;
    border: 1px solid #dee2e6;
    background-color: white;
    margin-top: 20px;
    margin-right: 10px;
    width: 30%;
    position: fixed;
    top: 150px;
    right: 30px;
    z-index: 1100;
    padding: 15px;
}