.menuItemCard .menuItemCardMedia {
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
    margin-left: 5px;
    padding-bottom: 5px;
}

.menuItemCard {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 150px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15) !important;
}

.menuItemCard .menuItemCardContent {
    width: 100%;
}

.menuItemCard .menuItemCardAction {
    display: flex;
    justify-content: center;
    width: 20%;
}

.menuItemSelectButton {
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: none;
    width: 80%;
}

.select-button:hover {
    background-color: #0056b3;
}