.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    padding-top: 20px;
    padding-left: 0;
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0;
    align-content: flex-start; /* keep wrapped rows pinned at top */
}

/* force up to 4 cards per row */
/*.restaurant-list > * {*/
/*    flex: 0 0 calc(25% - 20px);*/
/*    max-width: calc(25% - 20px);*/
/*    box-sizing: border-box;*/
/*}*/

.restaurant-card,
.card {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/*@media (max-width: 1024px) {*/
/*    .restaurant-list > * {*/
/*        flex: 0 0 calc(50% - 20px);*/
/*        max-width: calc(50% - 20px);*/
/*    }*/
/*}*/
/*@media (max-width: 600px) {*/
/*    .restaurant-list > * {*/
/*        flex: 0 0 100%;*/
/*        max-width: 100%;*/
/*    }*/
/*}*/

h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

p {
    padding: 0 10px;
    color: #666;
}

/* styles.css */
.card {
    width: 250px;
    padding: 0;
    height: fit-content;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.text-container {
    margin-left: 10px;
}

.select-button {
    width: 30%;
    align-self: end;
}

.grid {
    display: flex;
    flex-direction: column;
}
